.buy-main{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("_img/bg.jpg") fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.buy-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(31, 35, 55, 0.85);
  width: 100%;
  height: 100vh;
  position: absolute;
}
.main-cont{
  display: flex;
  justify-content: center;
  width: 90%;
  flex-grow: 1;
}
.buy-poster{
  min-width: 20%;
}
.buy-poster img {
  width: 100%;
}
.buy-content{
  flex-grow: 1;
  margin-left: 40px;
  margin-right: 30px;
}
.buy-poster,.buy-select,.buy-content {
  padding-top: 50px;
}
.buy-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}
