.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
.infoTitle {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.miniInfo {
  font-size: 16px;
  opacity: 0.7;
}
