$red: #e84c3d;
$grey: #ecedef;
$black: #343434;

.cardWrap {
  padding: 0.2em 2em;
  color: #fff;
  font-family: sans-serif;
}

.card {
  background: linear-gradient(to bottom, $red 0%, $red 26%, $grey 26%, $grey 100%);
  height: 15em;
  display: inline-block;
  float: left;
  position: relative;
  padding: 0.6em 0 0 0;
  // margin-top: 100px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
  padding-left: 1em;
}

.cardRight {
  width: 6.5em;
  border-left: .18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
  }
  &:before {
    top: -.4em;
  }
  &:after {
  bottom: -.4em;
  }
}

.cardLeft h1 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 2em;
  color: #fff;
  span {
    font-weight: normal;
  }
}

.title, .name, .seat, .time {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
    font-size: .9em;
    color: #525252;
    margin: 0;
   }
  span {
    font-size: .7em;
    color: #a2aeae;
  }
}

.title {
  margin: 1em 0 0 0;
}

.name, .seat {
  margin: 0 1em 0 0;
}

.time {
  margin: 0 1em 0 0;
}

.seat, .time {
  float: left;
}

  .logo {
  width: 2em;
  height: 1.5em;
  margin: 0 auto;
  margin-bottom: 2em;
}

.number {
  text-align: center;
  text-transform: uppercase;
  h3 {
    color: $red;
    margin: 0 0 0 0;
    font-size: 1em;

  }
  span {
    display: block;
    color: #a2aeae;
    font-size: 0.8em;
  }
}
.nameHall {
  margin-top: 1.5em;
}
