.auth-block {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
	color: black;
	background-color: white;
	font-size: 16px;

	&__form {
		position: relative;
		width: 390px;
		padding: 40px 40px 100px 40px;
	}

	&__btn {
		position: absolute;
		bottom: 108px;
		right: 40px;
		border: none;
		padding: 0 0 4px 0;
		color: #aaaaaa;
		background: none;
		font-size: 12px;
		cursor: pointer;
	}

	&__btn:hover {
		color: #000000;
	}

	&__posters {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		width: 50%;
		height: 100vh;
		background-color: #282c34;
	}
}
