@import "abstracts/variables";
@import "abstracts/mixins";

.block-info{

    @include clear;
    background-color: $main-bg-color;
    width: 100%;
    font-size: 16px;
    //border: 1px solid fuchsia;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__session{
        padding: 1rem;
        padding-top: 2rem;
        width: 25%;
        min-width: 300px;
        border: 1px solid coral;
    }
}