@import "abstracts/variables";
@import "abstracts/mixins";

.header{
    @include clear;
    display: flex;
    height: $nav-height;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor:pointer;

    &__nav{
        @include list-clear;
        list-style: none;
        display: flex;
        justify-content: left;
        width: 100%;
        align-items: center;
    }
    &__title {
        color: $text-color;
        text-transform: uppercase;
        font-size: 3em;
        &:hover{
            color: #f34f25;
        }
    }
    &__logo {
        position: relative;
        width: 60px;
        height: 60px;
        margin-right: 8px;
        z-index: 30;
    }
    &__logo-img {
        display: block;
    }
    &__sing-in {
        padding: 13px;
        border-left: 1px solid #474f56;
    }
}
