@import "~antd/dist/antd.css";

@import "abstracts/variables";
@import "abstracts/mixins";

@import "header";
@import "movie";
@import "datailsMoviePage";
@import "poster";
@import "information";
@import "session";


.wrapper{
    @include clear;
    width: 100%;
    height: 100vh;
    background-color: $main-bg-color;
    color: $text-color;
    font-size: 62.5%; // 10px
}

.notFound{
    font-size: 500%;
    width: 380px;
    //border: 1px solid fuchsia;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0.5rem 1rem;
}




