@import "abstracts/variables";
@import "abstracts/mixins";

.block-info{

    @include clear;
    width: 100%;
    //height: calc(100vh - 60px);
    font-size: 16px;
    //border: 1px solid fuchsia;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background: url("_img/bg.jpg") fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__bg-color {
        display: flex;
        background-color: rgba(31, 35, 55, 0.85);
        width: 100%;
    }

    &__session{
        padding: 1rem;
        padding-top: 2rem;
        width: 25%;
        min-width: 300px;
        border: 1px solid coral;
    }
}
