.modal-window {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    padding: 5px 10px; 
    background-color: rgba(0,0,0,0.8); 

    &__title {
        margin: 0;
        color: #ff3e2f;
        font-size: 14px;
    }

    &__text {
        color: #ffffff;
        font-size: 12px;
    }
}