.modal-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 20px 40px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 20;

	&__title {
		margin: 0;
		color: #ff3e2f;
		font-size: 14px;
	}

	&__text {
		color: #ffffff;
		font-size: 12px;
	}
}
