@import "abstracts/variables";
@import "abstracts/mixins";

$red: #f00;
$white: #fff;

.movie-wrapper {
    @include clear;
    //border: 1px solid red;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    background-color: $main-bg-color;
}

.block-movie{
    @include list-clear;
    display: flex;
    flex: 0 0 auto;
    width: 100%;
    height: calc(100vh - 60px);
    &__item{
        display: block;
        height: calc(100vh - 60px);
        width: 100%;
        min-width: 300px;
        position: relative;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 2rem;
        transition: all 0.5s;
        &:hover{
            box-shadow: 0px 0px 50px 15px rgba(0,0,0,0.50) ;
            border-radius: 2rem;
            z-index: 99;
            .block-movie__info{
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 80%;
                background-image: linear-gradient(rgba(0,0,0,0.9), rgba(255,255,255,0));
                z-index: 99;
            }
        }
    }
    &__info{
        display: none;
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 1.5em;
        color: white;
        text-align: center;
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,1));
        &:hover{
            color: $red;
            cursor:pointer;
        }
    }
    &__header{
        font-size: 16px;
    }
    &__session{
        font-size: 16px;
        h3 {
            text-transform: uppercase;
        }
    }
    &__rental-period{
        font-size: 16px;
    }

}

.details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
    &__link{
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        color: $white;
        &:hover{
            color: $red;
        }
    }
    &__icon{
        //border: 1px solid blue;
        font-size: 40px;
        margin-right: 8px;
    }
}

.session{
    @include clear;
    width: 100%;
    height: 60vh;
    &__title{
        padding: 1rem 0;
        color: $text-color;
        text-align: center;
        //border: 1px solid white;
    }
    &__list{
        @include list-clear;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        //padding: 1rem;
        //border: 1px solid fuchsia;
    }
    &__day-of-week{
        width: 200px;
        color: $main-bg-color;

    }
    &__day{
        background-color: #00000090;
    }
    &__link{
        color: $text-color;
        padding: 0.5em 1em;
        border: 1px solid $red;
        border-radius: 1.2em;
        margin-right: 0.5em;
        background-color: $red;
        text-decoration: none;
        position: relative;
        &:hover{
            //background-color: #8b0000;
            background-color: #ff000099;
            //border: 1px solid #8b0000;
            border: 1px solid #ff000099;
            color: $text-color;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.rental-period{
    @include clear;
    width: 100%;
    height: 60vh;
    //border: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img{
        //border: 1px solid salmon;
        background-image: url("https://multiplex.ua/img/premiere.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 200px;
        height: 100px;
        margin: 0 auto;
        margin-top: 5vh;
    }
    &__title{
        margin-top: 5vh;
        font-size: 20px;
        font-weight: bold;
    }
    &__date{
        font-size: 18px;
        color: $red;
        font-weight: bold;
        &:hover {
            color: $white;
        }
    }
}

.trailer{
    width: 100%;
    //border: 1px solid fuchsia;
    height: calc(100vh - 60px);
}

.arrow-prev,
.arrow-next {
    position: absolute;
    background: #00000000;
    outline: none;
    font-size: 30px;
    line-height: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    z-index: 100;
}

.arrow-prev:focus,
.arrow-next:focus{
    outline: none;
}
.arrow-prev:hover,
.arrow-next:hover{
    color: $red;
    cursor: pointer;
}
.arrow-prev {
    left: 0px;
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(255,255,255,0));
}
.arrow-next {
    right: 0px;
    top: 0px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(0,0,0,1));
}

.slick-slider{
    width: 100vw;
}