@import './_styles/header.scss';
@import './_styles/mainAdmin.scss';
@import './_styles/addMovie.scss';


@import './_styles/auth.scss';
@import './_styles/signIn.scss';
@import './_styles/signUp.scss';

@import './_styles/posters.scss';


* {
	font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	box-sizing: border-box;
	outline: none;
}

body {
    margin: 0;
    background-color: #ebebeb;
}
